body{
    background-image: url("Images/bg-desktop.jpg");
}
div{
    text-align: center;    
    background-color:blanchedalmond;
    margin: 0;
    width: 30%;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 20%;    
}
#usericon{
    position: absolute;
    left: 50px;
    top: 59px;
}
#name{
    position: absolute;
    left: 38px;
    top: 15px;
}
#nameinput{
    width: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: medium;
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 30px;
    border: black solid 0.5px;
    box-sizing: content-box;
}
#email{
    
    position:absolute;
    left: 38px;
    top: 100px;
}
#emailinput{
    width: 250px;
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: medium;
    color: black;
    padding: 10px;
    padding-left: 30px; 
    border: black solid 0.5px;
    box-sizing: content-box;
}

#emailicon{
    position: absolute;
    top: 160px;
    left: 52px;
}

#Submit_button{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    height: 30px;
    background-color: orange;
    border-radius: 10%;
    border: palegoldenrod solid 1px;
}
#Submit_button:hover{
    background-color: green;
}
#feedback1{
    position: absolute;
    top: 550px;
    left: 550px;
    font-size: large;
}
#return_homepage{
    position: absolute;
    top: 600px;
    left: 500px;
    width: 300px;
    height: 30px;
    background-color: orange;
    border-radius: 10%;
    border: palegoldenrod solid 1px;
}
#return_homepage:hover{
    background-color: green;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}