body
{
background-image:url("bg-mobile.jpg");
background-size:375px;
background-repeat:no-repeat;
padding:20px
background-repeat:no-repeat;
}

h1
{
color: #66356e;
font-size:40px;
font-family:Arial Black;
display:inline;
}

h2
{
color: #66356e;
font-size:38px;
font-family:Poppins;
font-weight:600;
padding:0;
}

p
{
color:#66356e;
font-size:18px;
font-family:Open Sans;
font-weight:400;
padding:0;
}

.button
{
font-size:20px;
border-radius:40px;
padding-left:30px;
padding-right:30px;
padding-top:10px;
padding-bottom:10px;
background-color: #66356e;
color:white;
cursor:pointer;

}

.button:hover
{
color:#66356e;
background-color:#BE93D4;
}


.img1
{
cursor:pointer;
padding:5px;
}

.img1:hover
{
content:url("fb2.jpg");
}


.img2
{
cursor:pointer;
padding:5px;
}

.img2:hover
{
content:url("insta2.jpg");
}


.img3
{
cursor:pointer;
padding:5px;
}

.img3:hover
{
content:url("twitter2.jpg");
}
